streamlit==1.54.0               #파이썬을 이용한 웹/앱 라이브러리
pandas==2.3.3                   #파이썬을 이용한 데이터 분석 라이브러리
seaborn==0.13.2                 #파이썬을 이용한 그래프 라이브러리
finance-datareader==0.9.102     #파이썬을 이용한 금융 데이터 라이브러리
numpy==2.3.3                    #파이썬을 이용한 수치 계산 라이브러리
sqlalchemy==2.0.36              #파이썬을 이용한 데이터베이스 연결 라이브러리
#python==3.14.0                  #파이썬 버전
#mysql-connector-python==8.4.0   #파이썬을 이용한 mysql 연결 라이브러리
#plotly==5.18.0                  #파이썬을 이용한 그래프 라이브러리